@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



#menu-48 .mbr-brand__name {
  font-size: 16px;
}
#menu-48.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-48 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#header4-66 P {
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #000000;
}
#header4-66 H1 {
  font-size: 46px;
  text-align: left;
  font-family: 'Lora', serif;
  color: #000000;
}
#header4-66 I {
  text-align: left;
}
#footer1-34 P {
  color: #ffffff;
}







#menu-24 .mbr-brand__name {
  font-size: 16px;
}
#menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-24 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#slider2-33 P {
  text-align: left;
  font-family: 'Lora', serif;
  color: #000000;
}
#slider-37 P {
  text-align: left;
  font-family: 'Lora', serif;
}
#image1-39 P {
  color: #1f2878;
  font-family: 'Lora', serif;
  font-size: 12px;
}
#slider2-39 P {
  color: #000000;
  font-family: 'Lora', serif;
  font-size: 21px;
  text-align: left;
}
#image1-27 P {
  font-family: 'Lora', serif;
  font-size: 12px;
  color: #1f2878;
}
#slider-38 P {
  font-family: 'Lora', serif;
  text-align: left;
}





#menu-48 .mbr-brand__name {
  font-size: 16px;
}
#menu-48.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-48 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#slider-33 P {
  font-family: 'Lora', serif;
  text-align: left;
}
#slider2-42 P {
  color: #000000;
  text-align: left;
  font-family: 'Lora', serif;
}
#image1-54 P {
  font-family: 'Lora', serif;
  font-size: 12px;
  color: #1f2878;
}
#slider-39 P {
  font-family: 'Lora', serif;
  text-align: left;
  color: #000000;
}



#menu-72 .mbr-brand__name {
  font-size: 16px;
}
#menu-72.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-72 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#slider-36 P {
  font-family: 'Lora', serif;
  text-align: left;
}
#image1-82 SMALL {
  color: #1f2878;
  font-family: 'Lora', serif;
  font-size: 12px;
}




#menu-96 .mbr-brand__name {
  font-size: 16px;
}
#menu-96.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-96 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#video1-109 SMALL {
  font-size: 12px;
  font-family: 'Lora', serif;
  color: #1f2878;
}
#slider2-34 P {
  font-family: 'Lora', serif;
  text-align: left;
  color: #000000;
}
#image2-115 SMALL {
  color: #1f2878;
  font-size: 12px;
  font-family: 'Lora', serif;
}



#menu-34 .mbr-brand__name {
  font-size: 16px;
}
#menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-34 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#slider2-38 P {
  font-family: 'Lora', serif;
  text-align: left;
  color: #000000;
}
#slider2-37 P {
  color: #000000;
  font-family: 'Lora', serif;
  text-align: left;
}


#menu-42 .mbr-brand__name {
  font-size: 16px;
}
#menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-42 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#content5-45 .mbr-header .mbr-header__text {
  text-align: left;
  color: #000000;
}
#content5-45 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-45 .mbr-article {
  color: #fff;
}
#content5-45 .mbr-article P {
  text-align: left;
  font-family: 'Lora', serif;
  color: #000000;
}
